@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hello, My name is Matthew Gilligan and I am a Senior From Pickerington, Ohio.
    I am double majoring in MIS and Business Analytics and I am also in a fraternity on campus called Lambda Chi Alpha.
    I also enjoy watching sports and playing video games in my freetime. I hope to learn a lot in this class and am excited for our consulting project.
</p>

