@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    97 Mill St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614-301-6669
</address>

<address>
    <strong>My email:</strong>   <a href="mailto:mg118115@ohio.edu">mg118115@ohio.edu</a><br />
</address>