@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Website</h1>
    <p class="lead">This website will be used during my time in MIS 4200. I will be using this website to help further my knowledge in ASP.NET MVC.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Favorite Sports Teams</h2>
        <p>
            NFL: Buffalo Bills <br />
            CFB: Ohio State Buckeye <br />
            NBA: Los Angeles Lakers <br />
            MLB: Philadelphia Phillies <br />
            Premier League: Tottenham Hotspur <br />
            SD2 Links <br />
            @Html.ActionLink("Students", "Index", "Students")<br />
            @Html.ActionLink("Classes", "Index", "Classes")<br />
            @Html.ActionLink("Enrollments", "Index", "Enrollments")<br />

        </p>
    </div>
    <div class="col-md-4">
        <h2>My IS Skills</h2>
        <p>
            During this past summer I interned at Nationwide as a Data Analyst Intern. While working for Nationwide I learned how to program using the
            language python and also gained skills using Tableau. Other skills I have include programming using c++, c#, and python, Data Analysis, and SAP.
        </p>
    </div>
    <div class="col-md-4">
        <h2>My Favorite Things</h2>
        <p>Food: Pizza <br />
        Vacation Spot: The Beach <br />
        Animal: Cats <br />
        Hobby: Video Gaming <br />
        Sport (playing): Baseball <br />
        Sport (watching): College Football
        </p>
    </div>
</div>